* {
  box-sizing: border-box;
}
body {
  background-color: #dadada;
  font-family: system-ui, sans-serif;
  margin: 8px
}
h1{
  text-align: center;
  text-transform: uppercase;
}
h1 london {
  text-align: left;
}
.container {
  margin: 1% auto;
  width: 100%;
}
.emphasis {
  text-align: center;
  text-transform: uppercase;
}
div {
  background-color: #dadada;
  float: left;
  margin: 1% 0;
  width: 100%;
  padding: 20px 25px;
}
@media screen and (min-width: 575px){
  div {
    margin: 1%;
    width: 48%;
  }
  }@media screen and (min-width: 900px){
    div {
      margin: 1%;
      width: 22%;
    }
  }
  .rome {
    background-image: url("../images/rome.jpg");
    background-size: cover;
    background-position: left;
    text-align: left;
  }
  .madrid {
    background-image: url("../images/madrid.jpg");
    background-size: cover;
    background-position: left;
  }
  .london {
    background-image: url("../images/london.png");
    background-size: cover;
    background-position: left;
  }
  .baku {
    background-image: url("../images/baku.jpg");
    background-size: cover;
    background-position: left;
  }
  .preview h1 {
    text-align: left;
    text-transform: capitalize;
    height: 200px;
  }
